@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  /* box-sizing: border-box; */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
button.small {
  width: 28px;
  height: 28px;
  border-radius: 28px;
}
button.inverted:hover,
button.inverted.active {
  background: rgba(0, 129, 132, 0.8);
}
button.inverted {
  background: rgba(0, 129, 132, 1);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover, button.active {
  background: rgba(255, 255, 255, 1);
}

button .icon {
  width: 63%;
  height: 63%;
}
button.small .icon {
  width: 63%;
  height: 63%;
}


.button {
  position: relative;
}
.button .tooltip {
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 0;
  font-size: 10px;
  background: #fff;
  padding: 8px;
  z-index: 99;
  transition: all 0.1s;
  transition-delay: 0.0s;
  pointer-events: none;
  text-align: center;
  transform: translateY(-10px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12),
              0px 1px 5px 0px rgba(0, 0, 0, 0.20);
}

.button:focus .tooltip,
.button:hover .tooltip {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.25s;
  transition-delay: 0.5s;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Roboto Mono;
  overflow: hidden;
}

.working-area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

#toolbar {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: #008184;
}

#tabs {
  display: flex;
  padding: 10px 10px 0px 40px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #ECF1F1;
  font-size: 14px;
}

.tab {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  cursor: pointer;
  background: #DAE3E3;
  overflow: hidden;
}

.tab:hover {
  background: #e3eaea;
}

.tab.active {
  background: #FFF;
}

.tab .icon {
  height: 16px;
}
.tab .text {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
  max-width: calc(100% - 46px);
  overflow: hidden;
}
.tab .options {
  display: flex;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.tab .options button {
  background: none;
  width: 100%;
  height: 100%;
}
.tab .options button .icon {
  width: 100%;
  height: 100%;
}
.tab .options:hover button {
  background: rgba(255, 255, 255, 0.5);
}

#code-editor {
  flex: 1 0 0;
  align-self: stretch;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

#code-editor .cm-editor {
  width: 100%;
  height: 100%;
  outline: none;
}

#code-editor .cm-content {
  padding-top: 16px;
}
#code-editor .cm-line {
  padding-left: 16px;
}

#code-editor .cm-gutters {
  background-color: #ECF1F1;
  border-right: none;
  width: 40px;
  font-size: 14px;
}

#code-editor .cm-activeLineGutter {
  background-color: #DAE3E3;
}

#code-editor .cm-gutter {
  width: 75%;
}
#code-editor .cm-foldGutter {
  width: 25%;
}
#code-editor .cm-gutterElement {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#code-editor .cm-gutterElement span[title="Fold line"] {
  padding-bottom: 8px;
}

#code-editor .cm-activeLine {
  background-color: transparent;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
  background: black;
  transition: height 0.15s;
}

#panel.closed {
  height: 45px;
}

#panel.open {
  height: 320px;
}

.panel-bar {
  display: flex;
  height: 45px;
  padding: 0px 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #008184;
}

.panel-bar .term-operations {
  transition: opacity 0.15s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.panel-bar .term-operations.hidden {
  opacity: 0;
  transition-delay: 0.15s;
}
.panel-bar .term-operations.visible {
  opacity: 1;
  transition-delay: 0.15s;
}

.terminal-wrapper {
  color: white;
  width: 97%;
  margin-left: 2%;
  overflow: hidden;
  position: absolute;
  top: 60px; /* 45 + 15 */
  height: calc(100% - 75px);
}

.terminal-enabled,
.terminal-disabled {
  width: 100%;
}
.terminal-disabled {
  opacity: 0.5;
}

#dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.15s;
  border: none;
  background: none;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  background: rgba(236, 241, 241, 0.50);
}
#dialog.open {
  opacity: 1;
  pointer-events: inherit;
  transition: opacity 0.15s;
}

#dialog .dialog-content {
  display: flex;
  width: 576px;
  padding: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12),
              0px 1px 5px 0px rgba(0, 0, 0, 0.20);
  transform: translateY(20px);
  transition: transform 0.15s;
}

#dialog.open .dialog-content {
  transform: translateY(0px);
  transition: transform 0.15s;
}

#dialog .dialog-content > * {
  width: 100%;
}

#dialog .dialog-content .item {
  border-radius: 4.5px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  cursor: pointer;
}

#dialog .dialog-content .item:hover {
  background: #008184;
  color: #ffffff;
}

#file-manager {
  display: flex;
  padding: 12px 32px 24px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

#board-files,
#disk-files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  width: calc(50vw - 64px);
}

#file-actions {
  display: flex;
  width: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#file-actions button .icon {
  width: 100%;
  height: 100%;
}

#file-actions button:hover {
  opacity: 0.2;
}

.device-header {
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.device-header button {
  width: auto;
  height: auto;
  padding: 0;
}

.device-header .icon {
  width: 22px;
  height: 22px;
}

.device-header .text {
  width: 100%;
  height: 1.8em;
  position: relative;
  cursor: pointer;
  color: #000;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
}

.device-header .text span {
  position: absolute;
  right: 0;
  min-width: calc(100% - 30px);
  display: flex;
  align-items: center;
  padding-right: 10px;
}


.device-header .text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(0.25turn, white 25%, rgba(0, 0, 0, 0));
  z-index: 99;
}

.file-list {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  background: #ECF1F1;
  height: 100%;
  overflow-y: scroll;
}

.file-list .list {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.file-list .item {
  display: flex;
  height: 28px;
  min-height: 28px;
  max-height: 28px;;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
}

.file-list .item:hover {
  background: #FFF;
}

.file-list .item .options {
  display: none;
  padding: 5px;
  align-items: center;
  align-self: stretch;
}

.file-list .item:hover .options {
  display: flex;
}

.file-list .item .checkbox,
.file-list .item .icon {
  width: 32px;
  height: 32px;
}
.file-list .item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #000;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.file-list .item .checkbox .icon.off,
.file-list .item .checkbox .icon.on {
  display: none;
}

.file-list .item:hover .checkbox.unchecked .icon {
  display: none;
}
.file-list .item:hover .checkbox.unchecked .icon.off {
  display: block;
}

.file-list .item .checkbox.checked .icon {
  display: none;
}
.file-list .item .checkbox.checked .icon.on  {
  display: block;
}

.file-list .item input {
  border: none;
  border-radius: none;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
