@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --teal: #008184;
  --light-teal: #ecf1f1;
  --white: rgb(255, 255, 255);
  --white-faded: rgba(255, 255, 255, 0.8);
  --black: #000;
  --yellow: #f9c400;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* TOOLBAR */
#toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--teal);
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  cursor: pointer;
}

.button-wrapper.selected .button {
  background: none;
  box-shadow: 0 0 0 0.15rem var(--white);
}
.button-wrapper.selected .button img {
  filter: invert(1);
}
.button-wrapper.selected .toolbar-label {
  font-weight: bold;
}
.button-wrapper.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button {
  border: none;
  cursor: pointer !important;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background: var(--white-faded);
}

.button[disabled] {
  pointer-events: none;
  background: var(--white-faded);
}
.button:hover,
.button:active {
  background: var(--white);
}

.button img {
  width: 90%;
  height: 90%;
  margin-top: 0.1rem;
}

.toolbar-label {
  font-size: 0.75rem;
  color: var(--white);
}

.toolbar-spacing {
  width: 1rem;
}

/* PORT DIALOG */
#backdrop {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(236, 241, 241, 0.5);
}
#dialog {
  margin: auto;
  width: 80%;
  height: auto;
  background: var(--white);
  padding: 2rem;
  font-size: 1.25rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
#dialog ul li {
  padding: 0.5rem;
  cursor: pointer;
}
#dialog ul li:hover {
  background: var(--teal);
  color: var(--white);
  border-radius: 0.25rem;
}

/* EDITOR */
#editor {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5em;
}

.editor-filename {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  background: var(--color-4);
}
.editor-filename img {
  max-height: 100%;
  padding: 0.5rem;
}
.editor-filename input {
  width: 100%;
  border: none;
}

/* PANEL */
#panel {
  overflow: hidden;
}
#panel.open {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 99;
}
#panel #handle {
  position: relative;
  height: 2.5rem;
  background: var(--teal);
  cursor: n-resize;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#panel #handle .button {
  border: none;
  cursor: pointer !important;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  line-height: 1.75rem;
  background: var(--white-faded);
  margin: 0 0.25rem;
}

#terminal {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background: black;
  padding: 0 0.5rem;
}

#files {
  width: 100%;
  height: calc(100% - 2rem);
  background: var(--white);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 1rem 1rem;
  overflow: hidden;
}

#files .file-list {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}

#files .file-list .path {
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
}
#files .file-list .path img {
  height: 1.25rem;
}
#files .file-list .path a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#files .file-list .path a:link,
#files .file-list .path a:visited,
#files .file-list .path a:active,
#files .file-list .path a:hover {
  text-decoration: none;
  color: var(--black);
}
#files .file-list .path .full {
  width: 100%;
  padding: 0 0.5rem;
}
#files .file-list .path .button {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0;
}

#files .file-list ul {
  background: var(--light-teal);
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  overflow-x: none;
  overflow-y: scroll;
}
#files .file-list ul li {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#files .file-list ul li.selected {
  background: var(--white);
  color: var(--black);
}
#files .file-list ul li:hover {
  background: var(--white);
  color: var(--black);
}
#files .file-list ul li img {
  padding-right: 0.5rem;
}

#files .file-controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%;
}

#files .file-controls .button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}
#files .file-controls .button.primary {
  background: var(--teal);
}

#files .file-controls .button.primary img {
  filter: invert(1);
}

#message {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  max-width: 80%;
  padding: 1rem;
  background: var(--yellow);
  z-index: 9999;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: all 0.25s;
}
#message.show {
  opacity: 1;
  transform: translate(-50%, 0%);
}

/* BLOCKING */
#blocking {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white-faded);
  z-index: 100;
}
